/*classには.idには#*/
.clearfix::before {
  content: "";
  display: block;
  clear: both;
}
header {
  padding:10px;
}

h1 {
  font-family: "Permanent Marker";       /*icon付タイトルのこと*/
  padding: 20 100 5 20px;
  width: 25%;
  float: left;
  margin: auto 0;
  font-size: auto;
/*  border-bottom: 1px solid #cccccc; */
}
.y-c{
  margin: auto;
  padding: auto;
  float: left;
  clear: fixed;
}
h2 { 
  font-family: "Permanent Marker";
  padding: 20 100 5 100px;             /*youtube作品名やイントラ名*/
  clear: both;
}
h3 {
  padding: 0 100 0 100px;                /*insta埋め込み*/
}

iframe{
  padding: 5 100 30 130px;  　　　　　　 /*youtube埋め込み*/
}
.wrapper{
  margin: 0 auto;
  font-size: 26px;
  color: #3366FF;
  clear: both;
  padding-right: 10%; 
}

.icon:before{
  content: "";
  padding-right: 10px;
  border-left: 10px solid #CEF9DC;
}
/*.icon2:before{*/
/*  content:"";*/
/*  padding-left: 10px;*/
/*  border-left: 10px solid #FFCCCC;  */
/*}*/
ul.menu {
  font-family: "Permanent Marker";
  
}
li{
  list-style: none;
}
#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}
/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}
/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: black;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}
/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}
/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
  line-height: 300%;
 
}
/*globalnavのリンクの色*/
#nav-content a:link { /*アクセスしたことのないリンクblue*/
  color:#3366FF; 

}
#nav-content a:hover {/*マウスが上に乗っている状態pink*/
  color:#FF0099;
  text-decoration:underline;
}
#nav-content a:visited { /*アクセスしたことのあるリンク紫*/
  color: #996699;
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}


.ul{
  list-style: none;
}
table{                             /*accessのテーブル*/
  float: left;
  clear: both;
  margin: 0% auto;
}